.Wall_Container {
  margin-left: 100px;
  margin-top: 20px;
  width: 800px;
  height: 760px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.Wall_List {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box; /* So the width will be 100% + 17px */
  margin-left: -15px;
}

.Wall_Post_Container {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Wall_Post_div1 {
  width: 97%;
  display: flex;
  flex-direction: row;
}

.Wall_Post_div2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Wall_Post_div3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Wall_Post_Line {
  width: 100%;
  height: 1px;
  background-color: #e6ecf0;
  margin-bottom: 10px;
}

.Wall_Post_Image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Wall_Post_Username {
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}

.Wall_Post_PostContent {
  font-size: 20px;
  width: 100%;
  margin-left: 20px;
  color: black;
}

.Wall_Post_ActionButton {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}

.Wall_Post_Statistic {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}

.Wall_Post_Icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 20px;
}

.Wall_Post_Sub1 {
  margin-right: 275px;
}

.Wall_Button {
  margin-left: 100px;
  margin-top: 30px;
  border: none;
  background-color: #1c313a;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Wall_Loading {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #1c313a;
  margin-left: 23%;
}
