.Wall_Container {
  margin-left: 100px;
  margin-top: 20px;
  width: 800px;
  height: 760px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.Wall_List {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box; /* So the width will be 100% + 17px */
  margin-left: -15px;
}

.Wall_Post_Container {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Wall_Post_div1 {
  width: 97%;
  display: flex;
  flex-direction: row;
}

.Wall_Post_div2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Wall_Post_div3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Wall_Post_Line {
  width: 100%;
  height: 1px;
  background-color: #e6ecf0;
  margin-bottom: 10px;
}

.Wall_Post_Image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Wall_Post_Username {
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}

.Wall_Post_PostContent {
  font-size: 20px;
  width: 100%;
  margin-left: 20px;
  color: black;
}

.Wall_Post_ActionButton {
  margin-left: 50px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}

.Wall_Post_Statistic {
  font-size: 15px;
  font-weight: bolder;
  font-style: italic;
  margin-left: 5px;
}

.Wall_Post_Icon {
  width: 30px;
  height: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.Wall_Post_Sub1 {
  margin-right: 275px;
}

.Wall_Button {
  margin-left: 100px;
  margin-top: 30px;
  border: none;
  background-color: #1c313a;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Wall_Loading {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #1c313a;
  margin-left: 23%;
}

.Wall_Popup_Container {
  width: 100%;
  height: 550px;
}

.Wall_Popup_div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.Wall_Popup_div2 {
  width: 87%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.Wall_Popup_Line {
  margin-top: 50px;
  width: 100%;
  height: 0.5px;
  background-color: #1c313a;
}

.Wall_Popup_Avatar {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.Wall_Popup_Username {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}

.Wall_Popup_PostContent {
  font-size: 20px;
  width: 100%;
  color: black;
}

.Wall_Popup_Comment_Container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: #1c313a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Wall_Popup_Comment {
  resize: none;
  width: 80%;
  height: 100px;
  font-size: 20px;
}

.Wall_Popup_Comment_Button{
  margin-top: 10px;
  color: white;
  background-color: #1c313a;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.Wall_Popup_Comment_List {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 20px;
  height: 410px;
  overflow-y: scroll;
}

.Wall_Popup_Comment_List_Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Wall_Popup_Comment_List_Avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.Wall_Popup_Comment_List_div1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 60px;
}

.Wall_Popup_Comment_List_Username {
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #1c313a;
}

.Wall_Popup_Comment_List_Content {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 200px;
  color: black;
}

.Wall_Popup_Comment_List_Line {
  width: 100%;
  height: 1px;
  background-color: #e6ecf0;
}
